POSTGRES_DB=event_tickets
POSTGRES_USER=event_tickets
POSTGRES_PASSWORD=event_tickets_dev_password

API_SECURITY_TOKEN_SECRET=uma-chave-secreta-de-teste-para-desenvolvimento-local-123

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/event_tickets
SPRING_DATASOURCE_USERNAME=event_tickets
SPRING_DATASOURCE_PASSWORD=event_tickets_dev_password